[submodule "knapsack-and-max-sat"]
	path = knapsack-and-max-sat
	url = git@github.com:famer/knapsack-and-max-sat.git
[submodule "MIE-W20-nodejs-projects"]
	path = MIE-W20-nodejs-projects
	url = git@github.com:famer/MIE-W20-nodejs-projects.git
[submodule "MPI-project"]
	path = MPI-project
	url = git@github.com:famer/MPI-project.git
[submodule "MIE-SPI-statistics-for-informatics"]
	path = MIE-SPI-statistics-for-informatics
	url = git@github.com:famer/MIE-SPI-statistics-for-informatics.git
[submodule "MIE-MWD-java-middleware"]
	path = MIE-MWD-java-middleware
	url = git@github.com:famer/MIE-MWD-java-middleware.git
